extends layout

block content
  h1 Login
  form(method='POST' action='/login')
    fieldset
      legend: div Enter email and password
      div
        label Email:
        input(name="email" type="email" autofocus required)
      div
        label Password:
        input(type="password" name="password" required)
      div
        button Login