<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/REST_API/login">Login</a></li>
        <li><a href="/REST_API/logout">Logout</a></li>
        <li><a href="/REST_API/register">Register</a></li>
      </ul>
    </nav>
    <header>
      <h1>Login demo</h1>
      <h2>Homepage</h2>
    </header>
    <main>Demo using passport-jwt to authenticate users</main>
  </body>
</html>
